<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.CptnTiller.hubwanderer"
        version     = "3.3.0" >

    <name>Hubwanderer</name>

    <description>
        A tool for hubway directions 
    </description>

    <author href="https://thpcod.es" email="todderick@gmail.com">
        Todd H. Page
    </author>

    </widget>